.background{
    position: relative;
    background-color: rgb(25, 30, 34);
    /*background-image: linear-gradient(to top left, rgb(131, 131, 131), rgb(43, 58, 70));*/
    box-shadow: 12px 0 10px 1px rgba(132, 132, 133), 
    -12px 0 10px 0px rgb(132, 132, 133);
    width: 100px;
    height: 100px;
    margin: 0px;   
    opacity: 95%;
    text-align: center;
    width: 35%;
    min-height: 100vh;
    margin-top: unset;
    margin-right: auto;
    margin-left: auto;
    padding-right: 2.5%;
    padding-left: 2.5%;
  }


body{
    background-color: rgb(247, 224, 181);
    background-image: url("images/bg.png");
    background-repeat: no-repeat;
    background-size: auto;
    padding: 0;
    margin: 0;
   }

/*.padding{
    padding: 0;
    margin: 0;
}*/

h1{
    color: rgb(230, 185, 101);
    font-weight: bold;
    font-size: 60px;
    padding-top: 10%;
    padding-bottom: 0;
    margin: 0;
    }

h2{
    color: rgb(230, 185, 101);
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    padding-top: 10%;
    padding-bottom: 2%;
}

.icon:hover .altlink {
    opacity: 0.2;    
   
  }

  .icon:hover .image-row {
    opacity: 0.2;    
   
  }

.altlink{
    width: 120px;
    height: 120px;
    opacity: 1;
    transition: 0.3s ease;
    padding-top: 10%;

}

.image-row{
    width: 50px;
    height: 50px;
    opacity: 1;
    transition: 0.3s ease;
}

footer{
    padding-top: 15%;
    }