/*border color: #bdc3c7
date color: #3498db
h2 color #2c3e50*/

body{
    background-color:#2f2f3f;;
    font-family: Source Sans Pro;
}

.center{
    margin: 10vh;
}


h1{
    text-align: center;
    color: #b9b9b9;
    font-weight: bold;
    font-size: 60px;
}

h2{
    color: #b2b8be;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    
}

.hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgb(255, 255, 255, 0), #b9b9b9, rgb(255, 255, 255, 0));
}
