body{
    background-color: rgb(29, 29, 29);
    margin: 30vh;
    margin-left: 50ch;
    text-align: center;
}

.center{
    margin: 30vh;
}


h1{
    color: rgb(160, 102, 21);
    font-weight: bold;
    font-size: 60px;
}

h2{
    color: rgb(160, 102, 21);
    font-size: 30px;
    font-weight: bold;
}

p{
    color: gainsboro;
    font-weight: bold;
}


.icon:hover .image {
    opacity: 0.2;
    
   
  }

.image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    opacity: 1;
    transition: 0.3s ease;
}

